@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('https://ksusick.github.io/font/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('https://ksusick.github.io/font/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*  ul.navbar-nav {
        padding-left: 5rem;
        padding-right: 5rem;
    } */

.navbar li {
  font-family: 'montserrat_alternatesregular';
  margin-left : 3rem;
  margin-right : 3rem;
}

h1 {
  font-family: 'montserrat_alternatesregular';
  letter-spacing: 6px;
}

p {
  font-family: 'montserrat_alternatesregular';
  text-align: justify;
}

footer p {
  font-family: 'montserrat_alternatesregular';
  font-size: 0.8rem;
  text-align: center;
}

/* header {
  background-color: #c8d5b9;
}   */

footer {
  background-color: #c8d5b9;
}  

body > a{
    opacity: 0;
}

body > a:focus{
    opacity: 1;
}

html{
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
   html{
      scroll-behavior: auto;
    }
}